body, html {
    font-family: "Roboto Light", sans-serif;
    margin: auto;
    font-size: 14px;
}

h1, h2, h3, h3, h5 {
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 26px;
    line-height: 36px;
}

h2 {
    font-size: 20px;
    line-height: 24px;
}

h3 {
    font-size: 18px;
    line-height: 20px;
}

h4 {
    font-size: 16px;
    line-height: 18px;
}

.page, .footer {
    color: #555555;
    margin: auto;
    width: 70%;
}

.footer {
    text-align: center;
}

.advert {
    padding: 20px;
    border: 1px solid black;
    min-width: 600px;
    min-height: 220px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.advert h3 {
    text-align: left;
    padding: 5px 0 10px 0;
    margin: 0;
}

.advert .img {
    width: 20%;
    height: 20%;
    float: left;
}

.advert img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    border: 1px solid black;
}

.content {
    width: 75%;
    min-height: 220px;
    float: right;
}

a {
    /*    display: block;
        height: 20px;
        width: 40%; */
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
    color: #777;
}

a:visited {
    color: black;
}

.button-container {
    padding: 10px;
    text-align: center;
}

.send-button, .edit-button {
    display: block;
    padding-top: 10px;
    margin: auto;
    width: 300px;
    height: 40px;
    background-color: forestgreen;
    color: white;
}

.edit-form {
    width: 100%;
}

.edit-form h4 {
    padding: 5px 0;
    margin: 0;
}

.edit-form div {
    padding: 5px;
}


.edit-form input, select {
    width: 100%;
    height: 20px
}

.edit-form textarea {
    width: 100%;
    height: 50px;
}

.message {
    display: block;
    border: 2px dotted forestgreen;
    width: 50%;
    height: 30px;
    padding-top: 10px;
}